.loading {
  min-height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .loading {
    min-height: calc(100vh - 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
