.similar-book-title {
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.similar-book-author {
  margin: 0;
  font-size: 14px;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.similar-books {
  background-color: #ffdcc2;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: 0.5s;
}
.similar-books a {
  color: inherit;
}
.similar-books:hover {
  background-color: #fff;
  transform: scale(1.05);
}
