.page-number {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.page-number li {
  width: 10px;
  height: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f56c02;
  border-radius: 50%;
  cursor: pointer;
}
.page-number li.active {
  background-color: #f56c02;
  color: #fff;
}
.nextprev {
  background-color: transparent;
  color: #f56c02;
  border: none;
}
